<div class="page-ctn">
    <button class="start-cta">Start</button>
    <div class="ctn">
        <div class="top">
            <div class="vid-ctn">
                <img class="traffic-signal-vid" src="http://localhost:5000/video_feed_1" alt="">
            </div>
        </div>
        <div class="mid">
            <div class="vid-ctn">
                <img class="traffic-signal-vid" src="http://localhost:5000/video_feed_2" alt="">
            </div>
            <div class="vid-ctn"> Traffic Signal</div>
            <div class="vid-ctn">
                <img class="traffic-signal-vid" src="http://localhost:5000/video_feed_3" alt="">
            </div>
        </div>
        <div class="bottom">
            <div class="vid-ctn">
                <img class="traffic-signal-vid" src="http://localhost:5000/video_feed_4" alt="">
            </div>
        </div>
    </div>
</div>